##### 【 ML - 꽃 품종 식별 모델 구현 】

- 주____제 : 3개 꽃 품종 식별 모델 구현으로 꽃가게 웹 서비스 
- 데이터셋
    * 파일명: Data/iris.csv
    * 피쳐들: **꽃받침 길이, 꼭받침 너비, 꽃잎 길이, 꽃잎 너비**
    * 타__겟: **분꽃 종류**
- 학습_종류: **지도학습 => 분류**
- 학습_방법: **KNN 최근접 이웃 알고리즘**

- 조____건  
    (1) 4개의 피쳐를 모두 사용한 모델  
    (2) 4개중 중요 피쳐만 사용한 모델

[1] 모듈 로딩 <hr>

In [1]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier

In [6]:
## 데이터 로딩
data_file = '../Data/iris.csv'

df = pd.read_csv(data_file)
display(df.head())

## 결측치 / 이상치 확인
df.info()

for x in df.columns :
    print(f'[{x}] -------------- {df[x].nunique()}개')
    print(f'{df[x].unique()}')

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal.length  150 non-null    float64
 1   sepal.width   150 non-null    float64
 2   petal.length  150 non-null    float64
 3   petal.width   150 non-null    float64
 4   variety       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB
[sepal.length] -------------- 35개
[5.1 4.9 4.7 4.6 5.  5.4 4.4 4.8 4.3 5.8 5.7 5.2 5.5 4.5 5.3 7.  6.4 6.9
 6.5 6.3 6.6 5.9 6.  6.1 5.6 6.7 6.2 6.8 7.1 7.6 7.3 7.2 7.7 7.4 7.9]
[sepal.width] -------------- 23개
[3.5 3.  3.2 3.1 3.6 3.9 3.4 2.9 3.7 4.  4.4 3.8 3.3 4.1 4.2 2.3 2.8 2.4
 2.7 2.  2.2 2.5 2.6]
[petal.length] -------------- 43개
[1.4 1.3 1.5 1.7 1.6 1.1 1.2 1.  1.9 4.7 4.5 4.9 4.  4.6 3.3 3.9 3.5 4.2
 3.6 4.4 4.1 4.8 4.3 5.  3.8 3.7 5.1 3.  6.  5.9 5.6 5.8 6.6 6.3 6.1 5.3
 5.5 6.7 6.9 5.7 6.4 5.4 5.2]
[petal.width] -------------- 22개
[0.2 0.4 0.3 0.1 0.5 0.6 1.4 1.5 1.3 1.6 1.  1.1 1.8 1.2 1.7 2.5 1.9 2.1
 2.2 2.  2.4 2.3]
[variety] -------------- 3개
['Setosa' 'Versicolor' 'Virginica']

In [ ]:
## 상관계수 확인
df.corr(numeric_only=True)

              sepal.length  sepal.width  petal.length  petal.width
sepal.length      1.000000    -0.117570      0.871754     0.817941
sepal.width      -0.117570     1.000000     -0.428440    -0.366126
petal.length      0.871754    -0.428440      1.000000     0.962865
petal.width       0.817941    -0.366126      0.962865     1.000000

In [12]:
## 모델1 : 4개의 피쳐 모두 사용
## 피쳐 데이터
featureDF = df[df.columns[:-1]]

## 타겟 데이터 
targetSR = df[df.columns[-1]]

print(f'featureDF : {featureDF.ndim}D, targetSR : {targetSR.ndim}D, ')

## 모델 인스턴스 생성
m1 = KNeighborsClassifier()
m1

## 학습 진행
m1.fit(featureDF, targetSR)

## 평가 진행
m1.score(featureDF, targetSR)

featureDF : 2D, targetSR : 1D,

0.9666666666666667

In [14]:
## 모델2 : 4개중 중요 피쳐만 사용
## 피쳐 데이터
featureDF = df[df.columns[2:-1]]

## 타겟 데이터 
targetSR = df[df.columns[-1]]

print(f'featureDF : {featureDF.ndim}D, targetSR : {targetSR.ndim}D, ')

## 모델 인스턴스 생성
m2 = KNeighborsClassifier()
m2

## 학습 진행
m2.fit(featureDF, targetSR)

## 평가 진행
m2.score(featureDF, targetSR)

featureDF : 2D, targetSR : 1D,

0.96