#### python & db 연결

In [27]:
import pymysql

print(f'pymysql v.{pymysql.__version__}')

pymysql v.1.4.6

In [28]:
## RDBMS 정보
server_ip = 'localhost'
user_id = 'root'
user_pw = 'mysql'
db_name = 'mydb'
charset = 'utf8mb4'

In [29]:
## ========================================================
## db 연결
## ========================================================
conn = pymysql.connect(host = server_ip,
                user = user_id,
                password = user_pw,
                database= db_name,
                cursorclass = pymysql.cursors.DictCursor)

In [30]:
## ========================================================
## db - select 처리
## ========================================================
all_data_sql = 'select * from user;'

with conn.cursor() as cursor :
    ## 모든 데이터 다 가져오기
    # sql = 'select id, name from user where name = %s'
    cursor.execute(all_data_sql)
    result = cursor.fetchall()
    print(result)

[{'id': 2, 'name': '마징가', 'age': 14, 'hometown': '파주', 'address': None, 'gender': '남'}, {'id': 3, 'name': '김민아', 'age': 23, 'hometown': '부산', 'address': '부산시', 'gender': '여'}, {'id': 4, 'name': '이지은', 'age': 9, 'hometown': '대구', 'address': '부산시 동래', 'gender': '여'}, {'id': 5, 'name': '박영우', 'age': 47, 'hometown': '파주', 'address': None, 'gender': '남'}, {'id': 6, 'name': '김철수', 'age': 31, 'hometown': '울산', 'address': None, 'gender': '남'}, {'id': 7, 'name': '이지은', 'age': 29, 'hometown': '서울', 'address': '서울시', 'gender': '여'}, {'id': 8, 'name': '홍길동', 'age': 51, 'hometown': '서울', 'address': None, 'gender': '남'}, {'id': 9, 'name': '고길동', 'age': 20, 'hometown': '서울', 'address': '서울시 동래', 'gender': '남'}, {'id': 10, 'name': '마테영', 'age': 49, 'hometown': '파주', 'address': None, 'gender': '남'}, {'id': 11, 'name': '김진우', 'age': 44, 'hometown': '대구', 'address': None, 'gender': '남'}, {'id': 12, 'name': '박나림', 'age': 37, 'hometown': '부산', 'address': '부산시 동래', 'gender': '여'}, {'id': 13, 'name': '장지원', 'age': 25, 'hometown': '울산', 'address': '울산시 을주', 'gender': '여'}, {'id': 14, 'name': '김동현', 'age': 31, 'hometown': '파주', 'address': None, 'gender': '남'}, {'id': 15, 'name': '박지니', 'age': 60, 'hometown': '서울', 'address': None, 'gender': '여'}, {'id': 16, 'name': '김덕현', 'age': 71, 'hometown': '대구', 'address': None, 'gender': '남'}]

In [35]:
## ========================================================
## db - insert 처리
## ========================================================
isnert_data_sql = "INSERT INTO user VALUES (%s,%s,%s,%s,%s,%s);"

with conn.cursor() as cursor :
    cursor.execute(isnert_data_sql, (29,  '베트맨', 23, '부산', '부산시', '여'))
    conn.commit()

In [ ]:
## ========================================================
## db - delete 처리
## ========================================================
delete_data_sql = "delete from user where id=%s"

with conn.cursor() as cursor :
    cursor.execute(delete_data_sql, (29,))
    conn.commit()

In [19]:
## ========================================================
## db 연결 해제
## ========================================================
conn.close()