### [ 인덱스 다루기 - MultiIndex]
- 기본 인덱스
    * .set_index()      <-- 컬럼을 인덱스로 설정>
    * .reindex()        <-- 인덱스 재구성(일부 변경, 결측치 발생 가능)>
    * .reset_index()    <-- 위치 인덱스(RangeIndex)로 변경. 기존 인덱스는 컬럼 추가>
    * .iloc[위치인덱스]  <-- 판다스엣서 DF/S에 데이터가 존재하는 위치 번호를 지정/정수>
    * .loc[라벨인덱스] <-- DF/S 생성 시 index, columns 매개변수로 지정한 인덱스들>
- 멀티 인덱스 
    -

[1] 모듈 로딩 및 데이터 준비 <hr>

In [20]:
## 모듈 로딩
import pandas as pd

In [21]:
## 데이터 준비
## 인덱서 생성
columns_ = pd.MultiIndex.from_product([['math', 'eng'], ['mid', 'final']], 
                                        names=['subject', 'exam'])
 ## DF 생성
df = pd.DataFrame( [ [80, 90, 85, 95], [70, 88, 75, 93] ], 
                    columns=columns_ )
 ## 출력
display(df)

subject math       eng
exam     mid final mid final
0         80    90  85    95
1         70    88  75    93

In [22]:
## 확인
display(df.head())

subject math       eng
exam     mid final mid final
0         80    90  85    95
1         70    88  75    93

[2] DF에서 인덱스관련 메서드 다루기 <hr>

In [23]:
## ----------------------------------------------------------
## 멀티인덱스 속성 확인
## ----------------------------------------------------------
mIdx = df.columns

print('----------------------------------------')
print(f'type(mIdx)  : {type(mIdx)}')
print(f'names       : {mIdx.names}')
print(f'levels      : {mIdx.levels}')
print(f'dtypes      :\n{mIdx.dtypes}')
print(f'nlevels     : {mIdx.nlevels}')
print('----------------------------------------')
print(f'levshape    : {mIdx.levshape}')
print(mIdx)

----------------------------------------
type(mIdx)  : <class 'pandas.core.indexes.multi.MultiIndex'>
names       : ['subject', 'exam']
levels      : [['eng', 'math'], ['final', 'mid']]
dtypes      :
subject    object
exam       object
dtype: object
nlevels     : 2
----------------------------------------
levshape    : (2, 2)
MultiIndex([('math',   'mid'),
            ('math', 'final'),
            ( 'eng',   'mid'),
            ( 'eng', 'final')],
           names=['subject', 'exam'])

In [41]:
## [2-1] 열/컬럼 데이터 선택
## - 전체 열이름/열인덱스로 선택
oneSR = df[('math', 'final')]
print(f"\ndf.loc[ :, ('math', 'mid')\n{oneSR}\n")


## - level0번 열이름/열인덱스로 선택 => level0 동일한 모든 행
level0 = df[('math')]
print(f"\nlevel0 = df[('math')]\n{level0}\n")


## - level1번 열이름/열인덱스 선택 => level1 동일한 모든행
level1 = df.xs('final', level= 1, axis = 1)
print(f"\nlevel1 = df.xs('final', level= 1, axis = 1)\n{level1}\n")

df.loc[ :, ('math', 'mid')
0    90
1    88
Name: (math, final), dtype: int64


level0 = df[('math')]
exam  mid  final
0      80     90
1      70     88


level1 = df.xs('final', level= 1, axis = 1)
subject  math  eng
0          90   95
1          88   93

In [44]:
## ===================================================
## [2-2] 열 추가 => 사전식 정렬 추천/성능 느려지는 것 막기 위해서
## ===================================================
## => 모든 컬럼 동일값 추가
df[('eng','test')] = 0
df

subject math       eng
exam     mid final mid final test
0         80    90  85    95    0
1         70    88  75    93    0

In [60]:
## => 모든 컬럼 동일값 추가
df[('math','test')] = [100, 89]
df.sort_index(axis='columns')

subject   eng           math
exam    final mid test final mid test
0          95  85    0    90  80  100
1          93  75    0    88  70   89

In [53]:
## ====================================================
## [2-3] 열/컬럼 인덱스 초기화
## ====================================================
## => reset_index() : 축/방향 설정 x. 행인덱스만 지원하는 메서드
## => .T : 행/열 치환
df.T.reset_index().T

            0      1    2      3     4     5
subject  math   math  eng    eng   eng  math
exam      mid  final  mid  final  test  test
0          80     90   85     95     0   100
1          70     88   75     93     0    89

In [61]:
## 특정 레벨 열 인덱스만 => 컬럼으로
df.T.reset_index('subject').T

exam      mid final  mid final test  test
subject  math  math  eng   eng  eng  math
0          80    90   85    95    0   100
1          70    88   75    93    0    89