### [1030 work]
- 데이터 :  남북한발전전력량.xlsx
- (1) 남한의 종류별 발전전력량의 변화
- (2) 북한의 종류별 발전전력량의 변화
- (3) 남한과 북한의 비교                        
- V--(4) 북한의 신재생 컬럼/남북한 합계, 항목별 총합 컬럼 추가

In [53]:
import pandas as pd
import matplotlib.pyplot as plt
import koreanize_matplotlib

In [54]:
## 데이터 준비
FILE_PAHT = '../Data/남북한발전전력량.xlsx'

dataDF = pd.read_excel(FILE_PAHT)
display(dataDF)
dataDF.info()

,전력량 (억㎾h),발전 전력별,1990,1991,1992,1993,1994,1995,1996,1997,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,남한,합계,1077,1186,1310,1444,1650,1847,2055,2244,...,4031,4224,4336,4747,4969,5096,5171,5220,5281,5404
1,NaN,수력,64,51,49,60,41,55,52,54,...,50,56,56,65,78,77,84,78,58,66
2,NaN,화력,484,573,696,803,1022,1122,1264,1420,...,2551,2658,2802,3196,3343,3430,3581,3427,3402,3523
3,NaN,원자력,529,563,565,581,587,670,739,771,...,1429,1510,1478,1486,1547,1503,1388,1564,1648,1620
4,NaN,신재생,-,-,-,-,-,-,-,-,...,-,-,-,-,-,86,118,151,173,195
5,북한,합계,277,263,247,221,231,230,213,193,...,236,255,235,237,211,215,221,216,190,239
6,NaN,수력,156,150,142,133,138,142,125,107,...,133,141,125,134,132,135,139,130,100,128
7,NaN,화력,121,113,105,88,93,88,88,86,...,103,114,110,103,79,80,82,86,90,111
8,NaN,원자력,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 29 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   전력량 (억㎾h)  2 non-null      object
 1   발전 전력별     9 non-null      object
 2   1990       9 non-null      object
 3   1991       9 non-null      object
 4   1992       9 non-null      object
 5   1993       9 non-null      object
 6   1994       9 non-null      object
 7   1995       9 non-null      object
 8   1996       9 non-null      object
 9   1997       9 non-null      object
 10  1998       9 non-null      object
 11  1999       9 non-null      object
 12  2000       9 non-null      object
 13  2001       9 non-null      object
 14  2002       9 non-null      object
 15  2003       9 non-null      object
 16  2004       9 non-null      object
 17  2005       9 non-null      object
 18  2006       9 non-null      object
 19  2007       9 non-null      object
 20  2008       9 non-null      object
 21  2009       9 non-null      object
 22  2010       9 non-null      object
 23  2011       9 non-null      object
 24  2012       9 non-null      object
 25  2013       9 non-null      object
 26  2014       9 non-null      object
 27  2015       9 non-null      object
 28  2016       9 non-null      object
dtypes: object(29)
memory usage: 2.2+ KB

In [55]:
## 컬럼명 변환
dataDF = dataDF.rename(columns={'전력량 (억㎾h)' : '남/북'})

## 남/북 컬럼 결측치 채우기
dataDF['남/북'] = dataDF['남/북'].ffill()


## '-' --> 0으로 판단
dataDF = dataDF.replace('-', 0)


## 북한 신재생 행 추가하기
new_row = {'남/북' : '북한', '발전 전력별' : '신재생'}
# 0으로 채우기
for col in dataDF.columns :
    if col not in new_row :
        new_row[col] = 0
print(new_row)
dataDF.loc[len(dataDF)] = new_row
display(dataDF.head() ,dataDF.tail())

{'남/북': '북한', '발전 전력별': '신재생', '1990': 0, '1991': 0, '1992': 0, '1993': 0, '1994': 0, '1995': 0, '1996': 0, '1997': 0, '1998': 0, '1999': 0, '2000': 0, '2001': 0, '2002': 0, '2003': 0, '2004': 0, '2005': 0, '2006': 0, '2007': 0, '2008': 0, '2009': 0, '2010': 0, '2011': 0, '2012': 0, '2013': 0, '2014': 0, '2015': 0, '2016': 0}

C:\Users\kdt008\AppData\Local\Temp\ipykernel_34148\3692879523.py:9: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  dataDF = dataDF.replace('-', 0)

,남/북,발전 전력별,1990,1991,1992,1993,1994,1995,1996,1997,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,남한,합계,1077,1186,1310,1444,1650,1847,2055,2244,...,4031,4224,4336,4747,4969,5096,5171,5220,5281,5404
1,남한,수력,64,51,49,60,41,55,52,54,...,50,56,56,65,78,77,84,78,58,66
2,남한,화력,484,573,696,803,1022,1122,1264,1420,...,2551,2658,2802,3196,3343,3430,3581,3427,3402,3523
3,남한,원자력,529,563,565,581,587,670,739,771,...,1429,1510,1478,1486,1547,1503,1388,1564,1648,1620
4,남한,신재생,0,0,0,0,0,0,0,0,...,0,0,0,0,0,86,118,151,173,195

,남/북,발전 전력별,1990,1991,1992,1993,1994,1995,1996,1997,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
5,북한,합계,277,263,247,221,231,230,213,193,...,236,255,235,237,211,215,221,216,190,239
6,북한,수력,156,150,142,133,138,142,125,107,...,133,141,125,134,132,135,139,130,100,128
7,북한,화력,121,113,105,88,93,88,88,86,...,103,114,110,103,79,80,82,86,90,111
8,북한,원자력,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,북한,신재생,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [56]:
## 멀티 인덱스 
dataDF = dataDF.set_index(['남/북', '발전 전력별'])
dataDF.index

MultiIndex([('남한',  '합계'),
            ('남한',  '수력'),
            ('남한',  '화력'),
            ('남한', '원자력'),
            ('남한', '신재생'),
            ('북한',  '합계'),
            ('북한',  '수력'),
            ('북한',  '화력'),
            ('북한', '원자력'),
            ('북한', '신재생')],
           names=['남/북', '발전 전력별'])

In [58]:
dataDF['항목별총합'] = dataDF.sum(axis=1)
dataDF.loc['납북한합계'] = dataDF.sum(axis=0)

dataDF.tail()

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,항목별총합
"(북한, 수력)",156,150,142,133,138,142,125,107,102,103,...,141,125,134,132,135,139,130,100,128,6816
"(북한, 화력)",121,113,105,88,93,88,88,86,68,83,...,114,110,103,79,80,82,86,90,111,5012
"(북한, 원자력)",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
"(북한, 신재생)",0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
납북한합계,5416,5798,6228,6660,7524,8308,9072,9750,9292,10318,...,17916,18284,19936,20718,21244,21568,21744,21884,22572,755504

In [64]:
for idx1, idx2 in dataDF.index[1:5] :
    plt.plot(dataDF.loc[idx1, idx2], label=idx2)
    print(idx2)

KeyError: '수력'