### [ 행/열 삭제 ]
- Series / DataFrame에서 행/열 기준으로 데이터 삭제
- 메서드 : drop( iabels , axis, index, colunms, ... , inplace )
    * 행방향 삭제 => labels, axis=0 또는 index 사용
    * 열방향 삭제 => labels, axis=1 또는 columns 사용
    * 원본 변경 여부 => inplace 매배변수 사용
    * 반환값 => None or DataFrame

[Series의 데이터 삭제]
<hr>

In [29]:
## 모듈 로딩
import pandas as pd

In [30]:
## 임의의 데이터
data_dict = {'a': 10, 'b':9, "c":200, "d" : 77, "e":80, 'f':333}

## 시리즈 인스턴스 생성
dataSR = pd.Series(data_dict)

##출력
print(dataSR)
print(dataSR.index)

a     10
b      9
c    200
d     77
e     80
f    333
dtype: int64
Index(['a', 'b', 'c', 'd', 'e', 'f'], dtype='object')

In [31]:
## ----------------------------------------------
## 데이터 삭제
## ----------------------------------------------
## -> 삭제 인덱스 설정, a, c 행 삭제
dataSR1 = dataSR.drop(['a','c'], axis=0) # axis=0 기본값
display(dataSR, dataSR1)

print("="*40)

## -> 삭제 인덱스 설정
dataSR.drop(['a','c'], axis=0, inplace=True)
display(dataSR, dataSR1)

a     10
b      9
c    200
d     77
e     80
f    333
dtype: int64

b      9
d     77
e     80
f    333
dtype: int64

========================================

b      9
d     77
e     80
f    333
dtype: int64

b      9
d     77
e     80
f    333
dtype: int64

In [32]:
## -> [index 매개변수] 삭제 인덱스 설정
dataSR1 = dataSR.drop(index=['b','e'])
display(dataSR, dataSR1)

print("="*40)

## -> 삭제 인덱스 설정
dataSR.drop(index=['b','e'], inplace=True)
display(dataSR, dataSR1)

b      9
d     77
e     80
f    333
dtype: int64

d     77
f    333
dtype: int64

========================================

d     77
f    333
dtype: int64

d     77
f    333
dtype: int64

[DataFrame의 행/렬 삭제]
<hr>

In [33]:
## 데이터
data_dict = {
    '번호' : [1,5,9],
    '이름' : ['홍','마','베']
}
## 데이터프레임 생성
dataDF = pd.DataFrame(data_dict)

## 출력
display(dataDF, dataDF.columns, dataDF.index)

   번호 이름
0   1  홍
1   5  마
2   9  베

Index(['번호', '이름'], dtype='object')

RangeIndex(start=0, stop=3, step=1)

In [34]:
## ------------------------------------
## 행방향 데이터 삭제
## ------------------------------------
## => [labels, axis=0 매개변수] -> 행기준
dataDF1 = dataDF.drop([1], axis=0) ## [기] inplac=False 원본 유지
display(dataDF,dataDF1)

print("="*40)

## => [index 매개변수] -> 행기준
dataDF1 = dataDF.drop(index = [1]) ## [기] inplac=False 원본 유지
display(dataDF,dataDF1)

   번호 이름
0   1  홍
1   5  마
2   9  베

   번호 이름
0   1  홍
2   9  베

========================================

   번호 이름
0   1  홍
1   5  마
2   9  베

   번호 이름
0   1  홍
2   9  베

In [40]:
## ------------------------------------
## 열방향 데이터 삭제
## ------------------------------------
## => [labels, axis=1 매개변수] -> 행기준
dataDF1 = dataDF.drop(['번호'], axis=1) ## [기] inplac=False 원본 유지
display(dataDF,dataDF1)

print("="*40)

## => [columns 매개변수] -> 행기준
dataDF1 = dataDF.drop(columns = ['이름']) ## [기] inplac=False 원본 유지
display(dataDF,dataDF1)

정보  번호 이름
0    1  홍
1    5  마
2    9  베

정보 이름
0   홍
1   마
2   베

========================================

정보  번호 이름
0    1  홍
1    5  마
2    9  베

정보  번호
0    1
1    5
2    9