### [ 축 이름 부분 변경 ]
- Series / DataFrame에서 행과 열 방향 축 이름 변경
- 속성명 변경 => 전체 변경. 일부 변경 x
- 메서드 : rename( index , colunms, ... , inplace )
    * 행방향 축 이름 변경 시 => index 매개변수 사용
    * 열발향 축 이름 변경 시 => columns 매개변수 사용
    * 원본 변경 여부 => inplace 매배변수 사용
    * 반환값 => None or DataFrame

[Series의 행 인덱스 축 이름변경]
<hr>

In [1]:
## 모듈 로딩
import pandas as pd

In [2]:
## 임의의 데이터
data_dict = {'a': 10, 'b':9, "c":200}

## 시리즈 인스턴스 생성
dataSR = pd.Series(data_dict)

##출력
print(dataSR)
print(dataSR.index)

a     10
b      9
c    200
dtype: int64
Index(['a', 'b', 'c'], dtype='object')

[변경가능한 속성들/읽기쓰기 가능]
<hr>

In [5]:
## ----------------------------------------------
## axes속성 즉, 축 변경
## ----------------------------------------------
print(f'현재 : {dataSR.axes}')

## -> 축 이름 설정
dataSR1 = dataSR.rename_axis(index= '알파벳')

## 확인
print(f'변경 : {dataSR1.axes}')
display(dataSR1)

## 축 이름 제거
dataSR1.rename_axis(index=None, inplace = True) ## 원본 변경
display(dataSR1)

현재 : [Index(['a', 'b', 'c'], dtype='object')]
변경 : [Index(['a', 'b', 'c'], dtype='object', name='알파벳')]

알파벳
a     10
b      9
c    200
dtype: int64

a     10
b      9
c    200
dtype: int64

In [6]:
## 데이터
data_dict = {
    '번호' : [1,5,9],
    '이름' : ['홍','마','베']
}
## 데이터프레임 생성
dataDF = pd.DataFrame(data_dict)

## 출력
display(dataDF, dataDF.columns, dataDF.index)

   번호 이름
0   1  홍
1   5  마
2   9  베

Index(['번호', '이름'], dtype='object')

RangeIndex(start=0, stop=3, step=1)

In [10]:
## ------------------------------------
## 행 인덱스 축 이름 변경
## ------------------------------------
print(f'현재 : {dataDF.axes[0]}')

## NONE => no
dataDF.rename_axis(index='no', inplace = True)
print(f'변경 : {dataDF.axes[0]}')
display(dataDF)

현재 : RangeIndex(start=0, stop=3, step=1)
변경 : RangeIndex(start=0, stop=3, step=1, name='no')

    번호 이름
no
0    1  홍
1    5  마
2    9  베

In [12]:
## ------------------------------------
## 열 인덱스/컬럼즈 축 이름 변경
## ------------------------------------
print(f'현재 : {dataDF.axes[1]}')

## NONE => no
dataDF.rename_axis(columns='정보', inplace = True)
print(f'변경 : {dataDF.axes[1]}')
display(dataDF)

현재 : Index(['번호', '이름'], dtype='object', name='no')
변경 : Index(['번호', '이름'], dtype='object', name='정보')

정보  번호 이름
no
0    1  홍
1    5  마
2    9  베